extends layout.pug

block content
  main.page-content
    section.search-results
      h1.visually-hidden Результаты поиска
      .search-results__wrapper
        p.search-results__label
          | Найдено
          span.js-results #{results.length} публикаций
        ul.search-results__list
          each offer of results
            li.search-results__item
              .ticket-card.ticket-card--color05
                .ticket-card__img
                  +insertOfferImage(offer)
                .ticket-card__info
                  +ticketLabel(offer.type)
                  .ticket-card__categories
                    each category of offer.categories
                      a(href="#") #{category.name}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href=`/offers/${offer.id}`) #{offer.title}
                    p.ticket-card__price
                      span.js-sum #{offer.sum}
                      |  ₽
                  .ticket-card__desc
                    p #{offer.description}
